*{ box-sizing: border-box; }
html, body{
	width: 100%;
	height: auto;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #fff;
}
table{
	border-spacing: 0;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
}

/*** 页面导航 start ***/
.top-wrap{ 
    height: 60px; 
    background-color: #20232A; 
    padding: 10px;
    color: #eee;
}
.nav ul{    
    text-align: center;
}
.nav li{
    padding: 10px;
    display: inline-block;
    border: none;
}
.nav li.active{ border-bottom: 2px solid #61DAFB;}
.top-wrap a{
    color: #fff;
    text-decoration: none;
}
.top-wrap a.home{
    color: #61DAFB;
    text-decoration: underline;
}
/*** 页面导航 end ***/


.page-wrap{ min-height: 100vh; position: relative; }
.row:before, .row:after{
	display: table;
	content: "";
}
.row:after{
	clear: both;
}

@media (max-width: 767px){}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 1200px) {}




@media (min-width: 768px){}
@media (min-width: 992px){}
@media (min-width: 1200px){}

@media screen and (max-width: 767px){}
@media screen and (-webkit-min-device-pixel-ratio: 0){}
@media (max-device-width: 480px) and (orientation: landscape){}
@media screen and (min-width: 768px){}
@media all and (transform-3d), (-webkit-transform-3d) {}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 992px) and (max-width: 1199px){}
@media print{}
