/*** 头部 ***/
.top-wrap{ 
    height: 60px; 
    background-color: #20232A; 
    padding: 10px;
    color: #eee;
}
.nav ul{    
    text-align: center;
}
.nav li{
    padding: 10px;
    display: inline-block;
    border: none;
}
.nav li.active{ border-bottom: 2px solid #61DAFB;}
.top-wrap a{
    color: #fff;
    text-decoration: none;
}
.top-wrap a.home{
    color: #61DAFB;
    text-decoration: underline;
}

/*** 内容 ***/
.content-wrap{
    background-color: #EBEAEA;
    padding: 10px;
}
.content-wrap .table-wrap{ display: none; }
.content-wrap .table-wrap.active{ display: block; }
.content-wrap .table-wrap>table{
    width: 100%;
}
.content-wrap .table-wrap td{
    padding: 2px 10px;
    width: 50%;
}
.content-wrap .table-wrap td:nth-child(odd){
    text-align: right;
}
.content-wrap .table-wrap td:nth-child(even){
    text-align: left;
}



