.modal .modal-t, .modal .sub-t{ cursor: pointer; }
.modal .modal-t:hover, .modal .sub-t:hover{ color: #77A89F; }
.modal .modal-c, .modal .sub-c{ display: none; }
@media (max-width: 991px){
    .modal .modal-c, .modal .sub-c{ padding-left: 10px; }
}
@media (min-width: 992px){
    .modal .modal-c, .modal .sub-c{ padding-left: 20px; }
}

