@media (min-width: 768px){}
@media (min-width: 992px){}
@media (min-width: 1200px){}

@media screen and (max-width: 767px){}
@media screen and (-webkit-min-device-pixel-ratio: 0){}
@media (max-device-width: 480px) and (orientation: landscape){}
@media screen and (min-width: 768px){}
@media all and (transform-3d), (-webkit-transform-3d) {}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 992px) and (max-width: 1199px){}
@media print{}



@media (max-width: 991px){
    .color-block{
        width: 100px; height: 60px; line-height: 60px;
    }
}
@media (min-width: 992px){
    .color-block{
        width: 200px; height: 120px; line-height: 120px;
    }
}
.color-block{
    display: inline-block; margin: 10px; text-align: center; border-radius: 4px;
}

